/*
style.css
demonstrates basic CSS rules
Max
March 12 2026
*/
/*
Changed font color to yellow and changed the font family to Times New Roman
*/
h1 {
 font-family: "Times New Roman", times, serif;
 color: yellow;
}

/*
Changed font color to yellow
*/
p {
 color:yellow;
 font-size:18pt;
}
ol {
 list-style: upper-roman;
}
/*
Changed background color to royal blue and centered the text
*/
body {
 background-color: #4169E1;
 text-align: center;
}
